<?xml version="1.0" encoding="UTF-8"?>
<!-- mappers/store-mapper.xml -->
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="m_store"> <!-- mybatis는 namespace필수!! -->


    <select id="findAllStores" resultType="Store" >
		select *                                                             
		from m_store order by reviewCount DESC
		limit 20
    </select>
    
    <select id="findStoreByName" resultType="Store" >
		select *
		from m_store
		where name like #{name}
		order by reviewCount DESC
		limit 20
    </select>
    
    <select id="findStoreById" resultType="Store">
        select *                                        
		from m_store where id= #{id}
	 </select>
    

</mapper>



